div.app-container {
    display: flex;
    background-color: #36393f;
}

div.chat-container {
    flex: 8;
    padding: 20px;
}

div.users-container {
    flex: 2;
    background-color: #2f3136;
    padding: 20px;
}
